.MuiPaginationItem-root{
    color : var(--tg-theme-text-color)!important;
}

.MuiPagination-root{
    display: flex;
    justify-content: center;
}

.cancelButton{
display: flex;
align-items: center;
justify-content: center;
}

